<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist>
<plist version="1.0">
  <dict>
    <key>StandardErrorPath</key>
    <string>/tmp/logitech-c920-camera-settings.stderr</string>
    <key>StandardOutPath</key>
    <string>/tmp/logitech-c920-camera-settings.stdout</string>
    <key>Label</key>
    <string>logitech-c920-camera-settings</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/alex/.local/bin/xpc_set_event_stream_handler</string>
      <string>/Users/alex/.local/bin/logitech-c920-update-camera-settings</string>
    </array>
    <key>LaunchEvents</key>
    <dict>
      <key>com.apple.iokit.matching</key>
      <dict>
        <key>com.apple.device-attach</key>
        <dict>
          <key>idProduct</key>
          <integer>2194</integer>
          <key>idVendor</key>
          <integer>1133</integer>
          <key>IOProviderClass</key>
          <string>IOUSBDevice</string>
          <key>IOMatchLaunchStream</key>
          <true />
        </dict>
      </dict>
    </dict>
  </dict>
</plist>
