[
  {
    "keyCode" : 49,
    "enabled" : false,
    "hideIfActive" : false,
    "openSelectedFolders" : true,
    "modifierFlags" : 1179648,
    "order" : 0,
    "url" : "\/Clipboard.clipboard",
    "openSelectedFiles" : true
  },
  {
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "url" : "\/System\/Applications\/Mail.app",
    "keyCode" : 46,
    "order" : 1,
    "hideIfActive" : false,
    "modifierFlags" : 655652,
    "bookmark" : "Ym9va0ACAAAAAAQQMAAAAGzWDv1MGjii3aivwR8FGODC+2Gr28TSCUVb7h2VhQtzYAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP\/\/\/w8IAAAABAMAABcAAAD\/\/\/8PCAAAAAQDAAD\/bgAA\/\/\/\/DwwAAAABBgAAWAAAAGgAAAB4AAAACAAAAAAEAABBwd5EgAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQAAAABAQAANUI5RTJDQTgtRjYyOC00RjJBLUJEMDUtRDhCMkRFNjAzMDBCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEQAAAAAAAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwAAAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAAANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAAEyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled" : true
  },
  {
    "openSelectedFiles" : false,
    "bookmark" : "Ym9va3ACAAAAAAQQMAAAANeeZHU85bR0qhKeMpuPLlqYQEt9sUUoTOYv8l0HLMxlkAEAAAQAAAADAwAAABgAKAYAAAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9ucwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJtaW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAIAAAABAMAABUAAAD\/\/\/8PCAAAAAQDAAAXAAAA\/\/\/\/DwgAAAAEAwAA1T4BAP\/\/\/w8IAAAABAMAAJ+sAQD\/\/\/8PEAAAAAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBwd5EgAAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAACQAAAABAQAANUI5RTJDQTgtRjYyOC00RjJBLUJEMDUtRDhCMkRFNjAzMDBCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAFwAAAAAAAAABRAAALQAAAAAAAAAEBAAANwAAAAAAAAAQBAAAMwAAAAAAAAAAiAAAHwBAAAAAAAABSAAAPwAAAAAAAAAECAAAAwBAAAAAAAAESAAADABAAAAAAAAEiAAACABAAAAAAAAEyAAAMwAAAAAAAAAICAAAFwBAAAAAAAAMCAAAIgBAAAAAAAAENAAAAQAAAAAAAAA",
    "openSelectedFolders" : true,
    "order" : 2,
    "url" : "\/System\/Applications\/Utilities\/Terminal.app",
    "hideIfActive" : false,
    "enabled" : true,
    "keyCode" : 1,
    "modifierFlags" : 655652
  },
  {
    "hideIfActive" : false,
    "order" : 3,
    "openSelectedFiles" : true,
    "modifierFlags" : 655652,
    "openSelectedFolders" : true,
    "enabled" : true,
    "url" : "\/Applications\/Safari.app",
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAIjraHg8eqFxjV18+GBrioHjLIjKg+7spnwTJh4TWJq+TAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABTYWZhcmkuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABzWAAAAAAAAAgAAAAEAwAAdVgAAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBwvfNqkNjzBgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAABAAAQcHeRIAAAAAkAAAAAQEAADVCOUUyQ0E4LUY2MjgtNEYyQS1CRDA1LUQ4QjJERTYwMzAwQhgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "keyCode" : 11
  },
  {
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "order" : 4,
    "modifierFlags" : 655652,
    "bookmark" : "Ym9vazQCAAAAAAQQMAAAAIQ9zVtCmRdy0z8Qjva2E48qFysxfCIyUvFueehVrAARVAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUgQ2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAHNYAAAAAAAACAAAAAQDAAAETgwAAAAAAAgAAAABBgAAUAAAAGAAAAAIAAAAAAQAAEHDIzFKgAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAANUI5RTJDQTgtRjYyOC00RjJBLUJEMDUtRDhCMkRFNjAzMDBCGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+\/\/\/\/AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAAAAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEABAAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAAAPQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAAICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAAAAAA",
    "enabled" : true,
    "url" : "\/Applications\/Google Chrome.app",
    "hideIfActive" : false,
    "keyCode" : 5
  }
]