snippet fn "function" i
() => {
  $0
}
endsnippet

snippet cl "console.log"
console.log($0)
endsnippet

snippet it "it clause"
it('$1', () => {
  $2
})
endsnippet

snippet test "test clause"
test('should $1', () => {
  $2
})
endsnippet

snippet ttodo "test.todo clause"
test.todo('should $1')
endsnippet

snippet desc "describe clause"
describe('$1', () => {
  $2
})
endsnippet
