snippet test "test"
test "should $1" do
  $2
end
endsnippet

snippet it "it"
it "should $1" do
  $2
end
endsnippet

snippet desc "describe"
describe "$1" do
  $2
end
endsnippet

snippet pry "start Pry debugger here"
binding.pry
endsnippet

